<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Amazon</a>
    </div>
    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']"><a [routerLink]="'customer-list'">Customer List</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="'customer-details'">Customer Details</a></li>
    </ul>
  </div>
</nav>

<button class="btn btn-lg btn-primary" (click)="navigateTo('customer-list')">Customer List</button>
<button class="btn btn-lg btn-primary" (click)="navigateTo('customer-details')">Customer Details</button>

<router-outlet></router-outlet>
